# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fi/cosky/sdk/API$Verb.class
fi/cosky/sdk/API.class
fi/cosky/sdk/AddressData.class
fi/cosky/sdk/ApiData.class
fi/cosky/sdk/BaseData.class
fi/cosky/sdk/CapacityData.class
fi/cosky/sdk/CoordinateData$CoordinateSystem.class
fi/cosky/sdk/CoordinateData.class
fi/cosky/sdk/CsvReader.class
fi/cosky/sdk/ErrorData.class
fi/cosky/sdk/FieldsItem.class
fi/cosky/sdk/ImportData.class
fi/cosky/sdk/ImportRequest.class
fi/cosky/sdk/KPIData.class
fi/cosky/sdk/Link.class
fi/cosky/sdk/LocationData.class
fi/cosky/sdk/LogoutRequest.class
fi/cosky/sdk/LogoutRequest.java
fi/cosky/sdk/MimeTypeHelper.class
fi/cosky/sdk/NFleetException.class
fi/cosky/sdk/NFleetRequestException.class
fi/cosky/sdk/ObjectCache.class
fi/cosky/sdk/ObjectiveValueData.class
fi/cosky/sdk/ObjectiveValueDataSet.class
fi/cosky/sdk/PlanData.class
fi/cosky/sdk/ResponseData.class
fi/cosky/sdk/RouteData.class
fi/cosky/sdk/RouteEventData.class
fi/cosky/sdk/RouteEventDataSet.class
fi/cosky/sdk/RouteEventUpdateRequest.class
fi/cosky/sdk/RouteUpdateRequest.class
fi/cosky/sdk/RoutingProblemData.class
fi/cosky/sdk/RoutingProblemDataSet.class
fi/cosky/sdk/RoutingProblemSettingsData.class
fi/cosky/sdk/RoutingProblemSettingsUpdateRequest.class
fi/cosky/sdk/RoutingProblemUpdateRequest.class
fi/cosky/sdk/SpeedProfile.class
fi/cosky/sdk/State.class
fi/cosky/sdk/TaskData.class
fi/cosky/sdk/TaskDataSet.class
fi/cosky/sdk/TaskError.class
fi/cosky/sdk/TaskEventData.class
fi/cosky/sdk/TaskEventDataSet.class
fi/cosky/sdk/TaskEventUpdateRequest.class
fi/cosky/sdk/TaskSetImportRequest.class
fi/cosky/sdk/TaskUpdateRequest.class
fi/cosky/sdk/TimeWindowData.class
fi/cosky/sdk/TokenData.class
fi/cosky/sdk/Type.class
fi/cosky/sdk/UserData.class
fi/cosky/sdk/UserDataSet.class
fi/cosky/sdk/UserSetRequest.class
fi/cosky/sdk/UserUpdateRequest.class
fi/cosky/sdk/VehicleData.class
fi/cosky/sdk/VehicleDataSet.class
fi/cosky/sdk/VehicleError.class
fi/cosky/sdk/VehiclePlanData.class
fi/cosky/sdk/VehicleSetImportRequest.class
fi/cosky/sdk/VehicleTypeData.class
fi/cosky/sdk/VehicleUpdateRequest.class
fi/cosky/sdk/tests/SdkTests.class
fi/cosky/sdk/tests/TestData.class
fi/cosky/sdk/tests/TestHelper$Location.class
fi/cosky/sdk/tests/TestHelper.class
UsingCoSkyAPIv2.class
